*¨{
    box-sizing: border-box;
}
body{
    background: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/* header */
header{
    background: url(bg.jpg) #4499aa;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
}
header .menu {margin: 40px 0;
text-align: right;}
header .menu a {
    margin: 0 20px;
    color: cornsilk;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}
header .menu a:hover {
    border-bottom: 2px solid #ffffff;
}
header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}
header .contenedor-texto .texto {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}  
header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2{
    color: seashell;
    font-weight: 300;
    margin: 0;
}
header .contenedor-texto .texto .nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}
header .contenedor-texto .texto .profesion{
    font-size: 25px;
    line-height: 25px;
    }
    /* MAIN */
 .main .contenedor{
     overflow: visible;
 }   
 .main .acercade {
     text-align: center;}   
.main .acercade .foto{
    margin-top: -60px;
}
.main .acercade .foto img {
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
.main .acercade .desc {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}
.main .acercade .desc .titulo{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #dd820d;
    text-align: center;

}
.main .acercade .desc .bold {
    color: #3895ea;
    text-decoration: underline;

}
.main .trabajos {
    background: #f2f2f2;
    padding: 60px 0;
}
.main .trabajos .contenedor{
    overflow: hidden;
}
.main .trabajos .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323068;
    text-align: center;
}
.main .trabajos .contenedor-trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .trabajos .contenedor-trabajos .trabajos {
    width: 23%;
}
.main .trabajos .contenedor-trabajos .trabajos .thumb {
    width: 100%;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajos .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
}
.main .trabajos .contenedor-trabajos .trabajos .descripcion {
    text-align: center;
}
.main .trabajos .contenedor-trabajos .trabajos .nombre{
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 10px;
}
.main .trabajos .contenedor-trabajos .trabajos .categoria{
    font-size: 14px;
    color: #636363;
}
/* footer */
footer .contacto {
    padding: 60px 0;
}
footer .contacto .titulo{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3895ea;
    text-align: center;}
footer .contacto .contenedor .formulario  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}    
footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4; }
  footer .contacto .formulario input[type="text"]:focus,
  footer .contacto .formulario input[type="email"]:focus,
  footer .contacto .formulario textarea:focus{
      border: 2px solid #3895ea;
  }
footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
  width: 40%;
  margin-bottom: 15px; }
footer .contacto .formulario textarea {
    width: 100%;
    height: 100px;
    min-width: 90%;
    margin-bottom: 15px;
    min-height: 100px;
    max-height: 300px;
}
footer .contacto .formulario .boton{
    margin: auto;
    background: #3895ea;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
}
footer .contacto .formulario .boton:hover{
    background: #387bea;
}
/* REDES */
footer .Redes{
    background: #1e2b38;
    padding: 60px;
}
footer .Redes .contenedor {
    display: flex;
    justify-content: center;
}
footer .Redes a{
    color: #ffffff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 40px;
    margin: 0 20px;
}
footer .Redes .instagram:hover
{background:#5851db;}
footer .Redes .facebook:hover
{background: #3b5998;}
footer .Redes .twitter:hover
{background:#1da1f2 ;}
footer .Redes .youtube:hover
{background: #ff0000;}
/* media queries */
@media screen and (max-width: 800px) {
header .menu{
    text-align: center;
}
.main .trabajos .contenedor-trabajos .trabajos {
    width: 46%;
}
}
@media screen and (max-width: 500px){
    header .contenedor-texto .texto .nombre{
        font-size: 35px;
    }
    header .contenedor-texto .texto .profesion{
        font-size: 18px;
    }
    footer .Redes .contenedor {
        flex-wrap: wrap;
        padding: 20px;
    } 
}
